<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
   <acl>
     <resources>
        <resource id="Magento_Backend::admin">
           <resource id="MyCompany_TaskEmpty::menu" title="Custom Menu" sortOrder="10" >
              <resource id="MyCompany_TaskEmpty::create" title="Create" sortOrder="50" />
              <resource id="MyCompany_TaskEmpty::delete" title="Delete" sortOrder="100" />
              <resource id="MyCompany_TaskEmpty::view" title="View" sortOrder="150">
                 <resource id="MyCompany_TaskEmpty::view_additional" title="View Additional Information" sortOrder="10" />
              </resource>
              <resource id="MyCompany_TaskEmpty::edit" title="Edit" sortOrder="200" />
           </resource>

           <resource id="Magento_Backend::stores">
               <resource id="Magento_Backend::stores_settings">
                  <resource id="Magento_Config::config">
                     <resource id="MyCompany_TaskEmpty::mycompany_custom_tab" title="MyCompany Custom Tab">
                        <resource id="MyCompany_TaskEmpty::helloworld_config" title="Hello World"/>
                     </resource>
                  </resource>
               </resource>
           </resource>
        </resource>
     </resources>
   </acl>
</config>
